<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Inventario</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="">App Inventario</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
			</ul>
		</div>
	</nav>

	<div class="container text-center">
		<div>
			<h1>Lista de productos</h1>
		</div>
		<br>
		<div>
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Categoria</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="producto : ${listaProductos}">
						<td th:text="${producto.id}"></td>
						<td th:text="${producto.nombre}"></td>
						<td th:text="${producto.precio}"></td>
						<td th:text="${producto.categoria.nombre}"></td>
						<td><a th:href="@{'/productos/editar'+'/'+ ${producto.id}}"
							class="btn btn-info">Editar</a> &nbsp; <a
							th:href="@{'/productos/eliminar'+ '/' + ${producto.id}}"
							class="btn btn-danger">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>